* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif; /* Cambio de la fuente a Times New Roman */
}

body {
  background-color: #efefef;
  min-height: 100%;
  font-family: 'Poppins', sans-serif; /* Cambio de la fuente a Poppins */
}

header {
  height: 50px;
  width: 100%;
  background-color: #040506;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.logo img {
  height: 40px;
  padding-right: 5px;
  border-radius: 10%; 
}

.foto {
  display: flex;
  align-items: center;
  background-color: aquamarine;
  padding: 1px 10px 1px 10px;
  border-radius: 5px;
  font-weight: bold;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

#inicio {
  background-color: red;
  transition: 1s;
  border-radius: 5%;
}

#inicio a {
  color: white;
}

ul li:hover {
  background-color: white;
  transition: 1s;
}

li a:hover {
  color: black;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

ul li {
  padding: 10px;
}

nav a button {
  height: 100%;
}

button {
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  text-transform: uppercase;
  padding: 4px;
  border: 1px solid #ffff;
  color: #ffff;
  font-weight: 600;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  color: black;
  transition: 1s;
}

#contactos {
  padding: 20px 0;
  background-color: #f5f5f5;
  text-align: center; /* Centra el contenido */
}

#contactos h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold; /* Negrita */
}

#contactos p {
  font-size: 16px;
  margin-bottom: 20px;
}

.info-contacto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0px; /* Reducir el margen inferior entre la barra y el contenido */
  background-color: black; /* Color de fondo negro con transparencia */
  color: white; /* Texto blanco */
  position: fixed; /* Fijar la posición */
  bottom: -1%; /* Ajustar el posicionamiento inferior */
  top: unset; /* Quitar el posicionamiento superior */
  width: 100%; /* Ocupar el ancho completo */
  padding: 10px 1px 1px 1px; /* Espaciado interno (10px arriba y abajo, 0 a los lados) */
  border-top: 1px solid rgba(255, 255, 255, 0.5); /* Ajustar el grosor y el color de la línea inferior */
  height: 80px;
}


.info-contacto .item {
  display: flex; /* Establece el contenedor como un flexbox */
  flex-direction: column; /* Alinea los elementos verticalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  padding: 0px;
  width: 30%;
  margin-bottom: 10px; /* Ajusta el margen inferior para separar los elementos */
}


.info-contacto .item i {
  font-size: 20px; /* Tamaño de fuente más pequeño para los iconos */
  color: black; /* Cambiar el color a negro */
  margin-bottom: 10px;
}

.info-contacto .item p {
  font-size: 14px;
  margin: 0;
}

#contactos form {
  display: none;
}

.swiper-container {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-slide img {
  width: 60%;
  height: auto;
  margin: auto;
}

button#cerrar-sesion,
button#perfil {
  font-family: Arial, sans-serif; /* Cambio de la fuente de los botones "Cerrar sesión" y "Perfil" a Arial */
}

button#iniciar-sesion,
button#registrarse {
  font-family: Arial, sans-serif; /* Cambio de la fuente de los botones "Iniciar sesión" y "Registrarse" a Arial */
}

a {
  color: white;
}
