* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none !important;
  }
  
  li {
    list-style: none;
  }
  
  aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  aside .log {
    display: flex;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    gap: 10px;
  }
  
  .log > img {
    height: 40px;
  }
  
  aside ul > li {
    padding: 20px;
  }
  
  aside ul li a > span {
    margin: 10px;
    color: white;
  }
  
  aside ul li {
    text-transform: uppercase;
  }
  
  aside ul li:hover {
    background-color: red;
    border-radius: 5%;
  }
  
  aside ul li a {
    color: #ffffff !important
  }
  .contenido {
    margin-left: 200px;
  }
  
  .contenido header {
    height: 50px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .contenido-rol {
    background-color: #f0f0f0; 
    padding: 10px; 
    border-radius: 100px;
    text-align: center; 
    font-size: 16px; 
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    padding:5px 10px 5px 10px;


  }
  
  
  .contenido-perfil {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .contenido-perfil > img {
    border-radius: 12px;
  }
  
  .contenido-perfil span {
    padding: 0 10px;
    font-size: 25px;
    color: white;
    cursor: pointer;
  }

  
  .contenido-perfil span:hover {
    color: #222222;
  }
  
  .foto {
    display: flex;
    align-items: center;
    background-color:#01baff;
    border-radius: 5px;
    font-weight: bold;
}
  
  .perfil {
    position: relative;
    margin: 40px 20px;
    border: 2px solid black;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  
  button {
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
    text-transform: uppercase;
    padding: 4px;
    border: 1px solid #ffff;
    color: #ffff;
    font-weight: 600;
  }
  
  button:hover {
    background-color: white;
    color: black;
    transition: 1s;
  }
  
  .perfil-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .perfil-table th,
  .perfil-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

  .perfil-table th {
    background-color: #f2f2f2;
  }
  .log img {
    border-radius: 10%;
    margin-bottom: 5px; /* Ajusta este margen según tu preferencia */
  }

  .btn-primary {
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: -10px auto 10px; /* Ajusta los márgenes para que el botón se eleve un poco */
    text-align: center; /* Esto centra el texto dentro del botón */
    width: 150px; /* Ajusta el ancho del botón según tus necesidades */
    padding: 10px; /* Ajusta el espaciado interno del botón según tus necesidades */
    font-weight: bold;
    border-radius: 10px; /* Negrita para el texto del botón */
}

/* Estilos para el estado de hover */
.btn-primary:hover {
    color: #000; /* Cambiar el color del texto a negro cuando se pasa el cursor por encima */
    background-color: #0069d9;
    border-color: #0062cc;
    font-weight: bold; /* Negrita para el texto del botón */
}