
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
 
  min-height: 100%;
  font-size: 16px;
}

body {
    background-image: url('Imagenes/t-road-motorcyclist-at-black-and-white-sport-motorcycle-isolated-on-white-background-2HBYYTA.jpg'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la URL o la ruta de tu imagen */
    background-size: 100%;
    background-position: center top 1px; /* Centra la imagen de fondo en la parte superior con un desplazamiento vertical de 100px */
    background-repeat: no-repeat; /*  Evita la repetición de la imagen */
    background-position: right 0px top; /* Mueve la imagen de fondo hacia la derecha y la desplaza 10px desde el borde derecho */
    background-repeat: no-repeat; 
}
header {
    height: 50px;
    width: 100%;
    background-color: #040506;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.logo img {
    height: 40px;
    padding-right: 5px;
}

.foto {
    display: flex;
    align-items: center;
    background-color: aquamarine;
    padding: 1px 10px 1px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid white; /* Borde de 1px de grosor y color blanco */
    font-weight: bold;
}

nav {
    display: flex;
    flex-wrap: wrap;
    
}

nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#inicio {
    background-color: red;
  transition: 1s;    
  border-radius: 5%;
}

#inicio a {
    color: white;
}

ul li:hover {
    background-color: white;
    transition: 1s;

}

li a:hover {
    color: black;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

ul li {
    padding: 10px;
}

nav a button {
    height: 100%;
}
 
button {
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
    text-transform: uppercase;
    padding: 4px;
    border: 1px solid #ffff;
    color: #ffff;
    font-weight: 600;
    border-radius:10px;
}


button:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

.productos-recientes {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.productos-recientes .producto img{
    width: 250px; /* Hace que todas las imágenes ocupen el ancho completo del contenedor */
    height: 260px; /* Ajusta la altura deseada */
    object-fit: cover; /* Mantiene la proporción de aspecto y recorta la imagen si es necesario */
    border-radius: 10px; 
   

}

.productos-recientes .producto{
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 238, 230, 0.8); 
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    
}


.productos-recientes .producto h2{
    font-weight: 500;
    font-size: 1.6em;
}
.productos-recientes .producto .btn-carrito{
    background-color: #353432;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 1s, color 1s; 
}


.producto .btn-carrito:hover{
    background-color: white;
    color: black;
    
}

.contenedor {
    width:100vw;
    max-width: 90vw;
    margin: auto ;
    text-align: center;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

footer {
    
    border-top: 1px solid white; 
    margin-top: 19%; 
    width: 100%; /* Ajusta el ancho al 100% de la ventana */
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px; /* Ajusta el padding */
    font-size: 14px; /* Ajusta el tamaño del texto */
    font-weight: bold; /* Agrega negrita a todo el contenido del footer */
    clear: both; /* Lirita a todo el contenido del footer */
    font-weight: bold;
}
  
  /* Estilos para la información de contacto */
  .info-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; /* Agrega negrita a los elementos de la información de contacto */
  }
  
  .info-contacto .item {
    margin: 0 9%;
    color: #fff; /* Color del texto */
    font-weight: bold;
  }
  
  .info-contacto i {
    font-size: 20px; /* Tamaño de los iconos */
    color: #fff; /* Color del texto */
    font-weight: bold;
  }
  
  .info-contacto p {
    color: #fff; /* Color del texto */
    font-weight: bold;
  }

  .productos-recientes .producto h2,
  .productos-recientes .producto p,
  .productos-recientes .producto .costo {
      text-align: center;
      font-weight: bold;
  }

