* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #efefef;
}


body {
    background-image: url('Imagenes/man-person-black-and-white-sport-vehicle-motorcycle-927575-pxhere.com2.jpg'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la URL o la ruta de tu imagen */
    background-size:    -10%;
    background-position: center top 10px; /* Centra la imagen de fondo en la parte superior con un desplazamiento vertical de 100px */
    background-repeat: no-repeat; /*  Evita la repetici贸n de la imagen */
    background-repeat: no-repeat; 
}
header {
    height: 50px;
    width: 100%;
    background-color: #040506;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.logo img {
    height: 40px;
    padding-right: 5px;
    border-radius: 10%; /* Esto hace que la imagen sea redonda */

}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#inicio {
    background-color: red;
    transition: 1s;    
    border-radius: 5%;
}

#inicio a {
    color: white;
}

ul li:hover {
    background-color: white;
    transition: 1s;

}

li a:hover {
    color: black;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

ul li {
    padding: 10px;
}

button {
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
    text-transform: uppercase;
    padding: 4px;
    border: 1px solid #ffff;
    color: #ffff;
    font-weight: 600;
    border-radius:10px;
}

button:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

.iniciar-secion {
    height: 500px;
    width: 450px;
    background-color: rgba(248, 248, 255, 0.8); 
    margin: 90px auto;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.iniciar-secion h1 {
    margin: 40px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.iniciar-secion_inicio{
    padding: 40px;
    width: 100%;
}

.input{
    width: 100%;
    background-color: yellowgreen;
    height: 30px;
    margin: 10px 0;
    border-bottom: 2px solid black;
    background-color: transparent;
    display: flex;
    align-items: center;

}

.input input{
    height: 100%;
    width: 100%;
    padding-left: 30px;
    border: none;
    outline: none;
    background-color: transparent;

}

a > button {
    height: 100%;
}
.input span{
    position: absolute;
    font-size: 25px;
}

.input:hover{
    border-bottom: 2px solid red;
    transition: 1s;
}


.iniciar-secion_inicio button {
    margin-bottom: 20px;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid black;
    color: black;
    font-weight: 600;
    width: 60%; /* Anchura del bot贸n */
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: auto; /* Centra el bot贸n horizontalmente */
    margin-right: auto; /* Centra el bot贸n horizontalmente */
}

.iniciar-secion_inicio button:hover {
    background-color: black;
    color: white;
    transition: 1s;
}